* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  background-image: url("../images/plane.jpg");
  background-size: cover;
  height: 100vh;
}
.container .trans-box {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.7;
  filter: alpha(opacity=60);
  /* For IE8 and earlier */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .trans-box .header {
  display: flex;
  justify-content: center;
}
.container .trans-box .header h1 {
  font-size: 4rem;
}
.container .trans-box .calculator {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}
.container .trans-box form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
